
<div class='blog-container-home'>

<% @blogs.all.reverse[0..20].each do |b| %>
<div class='post-container'>
<div class='post-title'><a href='/blogs/<%= b.id %>'><%= b.title %></a></div>
<div class='author'>Author: <a href='/users/<%= b.user.id %>'><%= b.user.fname%> <%= b.user.lname %></a></div>
<div class='post-content'><%= raw b.content %></div>


<hr id='line-break'>

</div>




<% end %>

</div>
