
<div class='blog-container-home'>
	<!-- Function that displays all blogs, in reverse order. This also limits the posts on the homepage to 20 posts. -->
<% @blogs.all.reverse[0..20].each do |b| %>
<!-- onmouseover and onmouseout of the post container changes the color to show which blog the user is looking at -->
<div class='post-container' onmouseover = "this.style.backgroundColor='rgba(123,155,166,0.4)';" onmouseout = "this.style.backgroundColor='rgba(234,226,222,0.9)';">
<!-- The onclick function is needed for the comment buttons on the show page. If this is omitted, the buttons require a page refresh before they work. -->
<div class='post-title'><a href='/blogs/<%= b.id %>' onClick="window.location.reload()"><%= b.title %></a></div>
<div class='author'>Author: <a href='/users/<%= b.user.id %>'><%= b.user.fname%> <%= b.user.lname %></a></div>
<!-- The truncate feature is used to limit the amount of the post shown on the homepage, similar to mainstream blog sites. -->
<div class='post-content'><a href='/blogs/<%= b.id %>' onClick="window.location.reload()"><%= raw truncate(b.content, :length => 1800, separator: ' ', omission: '<br><br><strong><strong><strong><strong>  <div class => 'click-thru'> . . . (click through to continue the adventure</div></strong></strong></strong></strong>', :escape => false).html_safe  %></a></div>

</div>


<hr id='line-break'>


<% end %>
</div>
</div>





<%= javascript_include_tag 'app.js' %>