<% if user_signed_in? %>

<h1>Hello <%= current_user.fname%>!</h1>

<%else%>
<h1>Please sign in</h1>

<% end %>

<% if current_user %>
<div><a href='/blogs/new'>Create a new blog</a></div>
<% end %>

<% @blogs.all.reverse[0..20].each do |b| %>

<div>Title: <a href='/blogs/<%= b.id %>'><%= b.title %></a></div>
<div>Post Content: <%= b.content %></div>
<div>Posted by: <a href='/users/<%= b.user.id %>'><%= b.user.fname%> <%= b.user.lname %></div>
<div>Comments:</div>
	<% b.comments.each do |c| %>
	<div><%= c.content %></a></div>
	<div>Comment by: <%= c.user.fname %></a></div>
		<%end%>

<% end %>


