<div class='blog-container-page'>
<div class='post-container-page'>
<div class='post-title-page'><h1><%= current_blog.title %> </h1></div>
<div class='post-content-page'><h2><%= raw current_blog.content %></h2></div>
</div>

<div id='comment-container-page'>
<div>Comments:</div>
	<% current_blog.comments.each do |c| %>
	<div><%= c.content %></a></div>
	<div>Comment by: <%= c.user.fname %></a></div>
		<%end%>
</div> 

</div>



<% if user_signed_in? %>
<%= form_for ([current_blog, current_blog.comments.build]) do |f| %>
	<div>Comment: <%= f.text_area :content %></div>
	<%= f.submit %>
	<% end %>

<% if current_user.id == current_blog.user_id %>
	<%= link_to "Update", edit_blog_path %>
	<%= link_to "Delete", blog_path, method: :delete, data: {confirm: "Are you sure?"} %>
	
		<% end %>
<% end %>
