<h1 class='header'>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class='update-container'>
  <div class='update-label'><%= f.label :email %><br> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "update-form"  %>
  </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class='update-container'>
  <div class='update-label'><%= f.label :password   %> <i>(leave blank if you don't want to change it)</i>
  </div>
   <div class='update-label'> <%= f.password_field :password, autocomplete: "new-password", :class => "update-form", placeholder: "Password must be at least 6 characters in length" %>
    </div>
    <% if @minimum_password_length %>
      <br>
      
      
    
  </div>

  <div class='update-container'>
    <div class='update-label'><%= f.label :password_confirmation %><br /></div>
    <div class='update-label'> <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "update-form" %></div>
  </div>

  <div class='update-container'>
    <div class='update-label'><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br></div>
    <div class='update-label'><%= f.password_field :current_password, autocomplete: "current-password", :class => "update-form" %></div>
  </div>

<div class='blog-buttons'>
  <div class='update-button'><%= f.submit :class => "update-user" %> </div>
  <div class='delete-button'><%= link_to "Delete User", user_registration_path, method: :delete, data: {confirm: "Are you sure?"}, :class => "delete"  %><% end %>
  </div>
</div>

<% end %>
