
<h2 id='user-head'><%= @user.fname %> <%= @user.lname %>'s Profile</h2>





<% @user.blogs.all.reverse[0..20].each do |b| %>

<div class='blog-container-home'>
<div class='post-container'>
	<div id='title-box'>
		<div class='post-title'><a href="/blogs/<%= b.id %>"><%= b.title%></a></div>
	</div>
<hr id='line-break'>
	<div class='post-content'><%= raw b.content %></div>
</div>
</div>

<% end %>
