
<h2 id='user-head'><%= @user.fname %> <%= @user.lname %>'s Profile</h2>



<% if user_signed_in? %>

      <div id='navElement'><%= link_to "New Post", new_blog_path %></div>

<% end %>



<% @user.blogs.all.reverse[0..20].each do |b| %>

<div id='post-container'>
	<div id='title-box'>
		<div id='post-title'><a href="/blogs/<%= b.id %>"><%= b.title%></a>
		</div>
	</div>
<hr id='line-break'>
	<div id='content-box'>
		<div id='post-content'><%= b.content %>
		</div>
	</div>
</div>

<% end %>
