
<h1 class='header'>Posts by <%= @user.fname %> <%= @user.lname %></h1>





<% @user.blogs.all.reverse[0..20].each do |b| %>

<div class='blog-container-home'>
<div class='post-container'>
	<div id='title-box'>
		<div class='post-title'><a href="/blogs/<%= b.id %>" onClick="window.location.reload()"><%= b.title%></a></div>
	</div>

	<div class='post-content'><a href="/blogs/<%= b.id %>" onClick="window.location.reload()"><%= raw b.content %></a></div>
</div>
</div>
<hr id='line-break'>

<% end %>
