<h1 class='header'>Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

   <div class='update-container'>
    <div class='update-label'><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "update-form" %>
  </div>

  <div class='update-container-password'>
    <%= f.submit "Send me reset password instructions", :class=> "password-btn" %><br>
  </div>
<% end %>


